@media only screen and (min-width: 769px) {
  .jumbotron {
    padding: 1.5rem 1.5rem;
  }

  .menu {
    span {
      font-size: xx-large;
      cursor: pointer;
      color: #ffffff;
    }

    .menu-login {
      color: #EE0048 !important;
    }
  }

  .sidenav.open.nav-manu {
    width: 20vw;

    .data-profile {
      display: flex;
      flex-direction: column;

      .img-profile-nav {
        display: flex;
        justify-content: center;
        border-radius: 100%;
        width: 200px;
        height: 200px;
      }
    }
  }

  .toggle-button {
    background: transparent;
    border: none;
    margin: 10px 20px;
    color: #ed0048;
    font-size: 30px;
  }

  .header-detail {
    img.back-button {
      width: 25px;
      padding-top: 10px;
      margin: 23px 50px;
    }

    .img-logo {
      margin-top: 0.5rem;
      padding-left: 130px
    }
  }

  .container-login {
    .logo-login {
      // margin: 7.5rem 0 5rem 0rem;
      margin-top: 10%;
      width: 11rem
    }

    .woke-form {
      .label-input {
        font-size: 17px
      }

      .input-login {
        size: 10px;
        font-size: 15px
      }
    }

    .icon-social {
      position: relative;
      display: flex;
      justify-content: flex-end;
      font-size: 20px;
    }
  }

  .item-nav-content {
    height: 100%;
    margin-top: 5rem;
    margin-bottom: 5%;
  }

  .woke-form {
    .form-group {
      min-width: 300px;
    }
  }

  .modal-home {
    .modal-dialog.modal-lg {
      max-width: 65%;
    }

    .form-register {
      padding: 0 10rem 0rem 10rem;
    }
  }

  img.logo-landing {
    width: 9rem;
  }

  .title-1 {
    font-size: 1.5rem;
  }

  .title-2 {
    font-size: 1.1rem;
  }

  .title-3 {
    font-size: 0.92rem;
  }

  .title-4 {
    font-size: 0.8rem;
  }

  .title-5 {
    font-size: 0.7rem;
  }
}
